.placeorder { width: 100%; }

.placeorder .items { 
  padding: 1em;
  border-radius: 5px;
  box-shadow:  26px 20px 40px #b1b1b1,
             -26px -20px 40px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.placeorder .items img {
  width: 15%;
}

.placeorder .details {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.placeorder .details * { margin-bottom: 1em; }